body {
    display: flex;
    flex-direction: column;
    height: 100%;

    justify-content: center;
}

#title_container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 50px;

    margin-top: 20px;
    margin-bottom: 20px;
}

#title_content {
    font-size: 50px;
    font-weight: bold;
}

#btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

#btn_content{
    height: 55px;
    width: 135px;
    border-radius: 8px;
    border-style: none;
    outline: none;

    color: white;
    font-weight: bold;
    font-size: 20px;
    background-color: #7a5f41c7;
    
}

#score_container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 40px;
    width: 100%;
    /* text-align: center; */

    margin-top: 20px;
    margin-bottom: 20px;

    font-weight: bold;
    font-size: 40px;
}


#body_container {
    display: flex;
    justify-content: center;
    width: 100%;
}

#body_content {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;

    position: relative;

    width: 500px;
    height: 500px;

    border-radius: 10px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.4); */
    background-color: rgba(87, 59, 8, 0.5);
}

#square_shadow {
    background-color: rgba(240, 225, 200, 0.767);
    border-radius: 10px;
}

#overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;

}

#square_container {
    position: relative;

}

.squareElement {
    position: absolute;
    display: flex;
    justify-content: center;
    /* text-align: center; */
    align-items: center;
    font-size: 35px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
    margin: 10px;
    height: 100px;
    width: 100px;
    /* box-shadow: 0 2px 4px rgba(0,0,0,0.4); */
}